@import '~/styles/vars'

.btn
    border: none
    margin: .5rem
    padding: .5rem 2rem
    border-radius: 2px
    color: white
    font-weight: bold
    background: $btnGradientColor
    transition: 0.2s

    &:hover
        transform: scale(1.05)
        background: $btnHoverColor