@import '~/styles/vars'

.app
    border: 10px solid $primaryColor
    height: 100vh
    font-family: 'Raleway', sans-serif
    display: flex
    align-items: center
    text-align: center

.app-content
    width: 100%
    padding: 5rem

    h1
        font-weight: 600
        font-size: 2em

    blockquote
        border-left: 3px solid $primaryColor
        margin: 4rem

        p
            padding: 3rem
            font-size: 1.3em
            line-height: 1.4em

        cite
            font-style: italic
            font-weight: 300

.btn-group
    position: fixed
    top: 10px
    left 10px