@import '~/styles/vars'

.app
    border: 10px solid $primaryColor
    height: 100vh
    display: flex
    text-align: center

.app-content
    width: 100%
    padding: 5rem

.btn-group
    position: fixed
    top: 10px
    left 10px